/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
}

ul{
    list-style: none;
}

.section-title{
    font-size: 35px;
    text-transform: uppercase;
    margin: 5px 0;
}

.section-title span{
    color: #3f3f3f;
    font-weight: 700;
}

.section-content{
    margin: 10px 0;
}

.section-content h4{
    font-weight: bolder;
    margin-top: 10px;
}


.sidetag{
    list-style: none;
    display: flex;
    margin: 5px 0;
    text-align: center;
}

.sidetag a {
    background: #3f3f3f;
    color: #fff!important;
    font-size: 13px;
    font-weight: 900;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

.section-content table{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
}
/* END */

@media (min-width: 992px) {
    body{
        background-color: #eee;
        width: 80%;
        margin: auto;
    }

    .section-content h4{
        margin-top: 3px;
    }

    .section-content table{
        display: block;
    }

    #resume{
        margin-top: 5rem!important;
        margin-bottom: 5rem!important;
        padding: 4rem;
        text-align: left!important;
        box-shadow: 0 0 20px rgba(1,1,1,.2); 
    }

    #about{
        text-align: left!important;
    }

    #resume-picture{
        width: 100%!important;
        margin-top: 0!important;
    }

    #resume-name{
        font-size: 50px!important;
        padding-top: 0!important;
    }

}

#resume{
    width: 90%;
    margin: auto;
    background: #fff;
    text-align: center;
}

#about{
    text-align: center;
}

#resume-picture{
    width: 40%;
    margin-top: 30px;
}

#resume-name{
    font-size: 33px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: 900;
}

.skill-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.skill-tags a {
    background: #eee;
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 4px 4px 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skill-tags a:hover {
    background: #3f3f3f;
    color: #eee!important;
}

.social-media a{
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: .4rem;
}

.fa-linkedin{
    color: #0077B5;
}

.fa-google-plus-square{
    color: #dd4b39;
}

.fa-twitter-square{
    color: #00acee;
}

.fa-facebook-square{
    color: #3b5998;
}

.social-media a.fa-linkedin:hover{
    color: #0077B5!important;
}

.social-media a.fa-google-plus-square:hover{
    color: #dd4b39!important;
}

.social-media a.fa-twitter-square:hover{
    color: #00acee!important;
}

.social-media a.fa-facebook-square:hover{
    color: #3b5998!important;
}